<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<html>
<head>
<title>Speech to Sketch! Demo</title>
</head>
<body>
	
<h2 class="demotitle"> Hikaye Çizim Arayüzü </h2>

<div style="margin-right: 20%; margin-top: 20px; margin-left: 20%" >
<p style="font-size:16px"> 
	Kayıt butonuna tıklayıp bir cümle söyleyin. Bir objenin boyutunu, sayısını, rengini ve daha önceki objelere göre konumunu belirtebilirsiniz.
        </p></div>
<div style="height: 450px;display: table;width: 100%;">
	<div style="vertical-align: middle;display: table-cell;background-color:#FFEED6;width: 15%;">
        <div>
            {% load static %}
            <form action='index' method='GET'>
                <button type="submit" name="button" class="button back"><span class="center"></span></button>
            </form>
        </div>
	</div>

	<div style="left; display: table-cell;background-color:#FFFEFB;width: 70%;" id="sketchholder">
		{% load staticfiles %}
        {{ json | json_script:"json" }}
        {{ error | json_script:"error" }}
        {{ weather | json_script:"weather" }}


        <script type="text/javascript" src="{% static "object.js" %}"></script>
        <script type="text/javascript" src="{% static "p5.js" %}"></script>
        <script type="text/javascript" src="{% static "sketch.js" %}"></script>
	</div>	

	<div style="vertical-align: middle;left;display: table-cell;width: 15%;background-color:#FFEED6;">
		<div style="vertical-align: middle; width: 80%;margin:auto;margin-top:20px;text-align: center;">
			<form action='record' method='GET' style= "display: inline-block;">
				<button type="submit" name="record" class="button record64"><span class="center"></span></button>
			</form>
		</div>
	</div>
</div>

<div style="vertical-align: center; display: table-cell;width: 15%;background-color:#FFEED6;">
	<div style="vertical-align: middle; width: 80%;margin:auto;margin-top:20px;text-align: center;">
        <form action='save_page' method='GET' style= "display: inline-block;">
		<button type="submit" name="record" class="button plus64" onclick='newPage()'><span class="center"></span></button>
        </form>
	</div>
	<h2 contenteditable="true" class="demotitle" id ="title"> Hikayeniz </h2>
	
	<div style="background-color:#FFF7ED;width: 80%;height:60%;vertical-align: middle;margin-bottom:10px;margin-left:10%"> {{ story }}</div>

    <img id="p0" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p1" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p2" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p3" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p4" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p5" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p6" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p7" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p8" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	<img id="p9" alt="image" src="/static/imgs/empty.png" width=33% height=25%>
	

</div>

<p></p>
	<div style="vertical-align: middle; width: 80%;margin:auto;margin-top:20px;text-align: center;">
        <form action='start_demo' method='GET' style= "display: inline-block;">
		<button type="submit" class= "demo" name="clear" onclick='clearStorage()'>Hikayeyi Sil</button>
        </form>

        </div>

</body>
</html>
