<!DOCTYPE html>
<html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<title>Documentation</title>
<body>

<h1> Speech to Sketch Interface!</h1>

<div style="margin-right: 20%; margin-bottom: 15%; margin-left: 20%;">
<p> We developed a speech to sketch interface for storytelling. Our project is to
visualise the scenes during the storytelling. The main motivation of the project is to
enrich the reading process and make it more appealing to children. </p></div>


<div style="vertical-align: middle;display: table-cell;background-color:#FFEED6;width: 15%;">	
    <div style="vertical-align: middle;display: table-cell;background-color:#FFEED6;width: 15%;">
		{% load static %}
		<form action='index_en' method='GET'>
			<button type="submit" name="button" class="button back"><span class="center"></span></button>
		</form>
	</div>
</div>
	
</body>
</html>