<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">		
    <title>Hikaye Çizim Arayüzü!</title>
	
	{% load staticfiles %}
        {{ object | json_script:"object" }}
        <script type="text/javascript" src="{% static "p5.js" %}"></script>
        <script type="text/javascript" src="{% static "sketch.js" %}"></script>		
  </head>
  
  <body>
  <form action='index_en' method='GET'>
       <div style="text-align: center;"> <button type="submit" class="demo" >English</button></div>
      </form>
  
	<h1> Hikaye Çizim Arayüzü </h1>

	<div style="margin-right: 20%; margin-bottom: 15%; margin-left: 20%;">
	<p> Bu bir hikaye çizim arayüzü. Denemek için, projeyle ilgili bilgi almak için veya size özel hareket ve obje eklemek için ilgili butonlara tıklayın. </p></div>
  
	<form action='start_demo' method='GET'>
       <div style="text-align: center;"> <button type="submit" class="demo" >Projeyi deneyin</button></div>
      </form>
    <p></p>
  <form action='info' method='GET'>
       <div style="text-align: center;"> <button type="submit" class="demo" >Projeyle ilgili bilgi alın</button></div>
      </form>
      <p></p>
  <form action='custom_action' method='GET'>
       <div style="text-align: center;"> <button type="submit" class="demo" >Kendi hareketlerinizi tanımlayın</button></div>
      </form>
 <p></p>

            <form action='upload' method='GET'>
                <div style="text-align: center;"> <button type="submit" class="demo" >Upload Objects</button></div>
            </form>

  </body>
  
  
</html>

	
	
	{% load staticfiles %}
        {{ object | json_script:"object" }}
        <script type="text/javascript" src="{% static "p5.js" %}"></script>
        <script type="text/javascript" src="{% static "sketch.js" %}"></script>