<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        .btn {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <title>Add Action</title>
    <div style="text-align: center;">
        <h1></h1>

        <div style="vertical-align: middle; display: table-cell;width: 2%;background-color:#FFEED6;"></div>
        <div style="vertical-align:middle; display:table-cell; background-color:#FFFEFB; width: 76%;" id="sketch">
            {% load staticfiles %}
            {{ actions | json_script:"actions" }}


            <script type="text/javascript" src="{% static "p5.js" %}"></script>
            <script type="text/javascript" src="{% static "object.js" %}"></script>
            <script type="text/javascript" src="{% static "actionSketch.js" %}"></script>
        </div>
        <div style="vertical-align: middle; display: table-cell;width: 3%;background-color:#FFEED6;"></div>
        <div style="vertical-align: middle; display: table-cell;width: 30%;background-color:#FFEED6;">
            <div style="vertical-align: middle; display: table-cell;width: 15%;background-color:#FFEED6;">
                <form action='goLeft' method='GET'>
                    <button type="submit" class= "demo" name="drawbutton">Go Left</button>
                </form>
                <p></p>
                <form action='fly' method='GET'>
                    <button type="submit" class= "demo" name="drawbutton">Fly</button>
                </form>
            </div>
            <div style="vertical-align: middle; display: table-cell;width: 10%;background-color:#FFEED6;">&nbsp;&nbsp;&nbsp;</div>
            <div style="vertical-align: middle; display: table-cell;width: 15%;background-color:#FFEED6;">
                <form action='goRight' method='GET'>
                    <button type="submit" class= "demo" name="drawbutton">Go Right</button>
                </form>
                <p></p>
                <form action='ascend' method='GET'>
                    <button type="submit" class= "demo" name="drawbutton">Ascend</button>
                </form>
            </div>
            <p></p>
            <form action='write_code' method='GET'>
            <input name="n" id ="n" >
                <p></p>
                <button type="submit" class= "demo" name="drawbutton">Save</button>
            </form>
        </div>
    </div>
</head>
<body>
</body>
</html>
